.button{
  margin: 1rem 0;
  max-width: 600px;
  padding: 0.5rem;
  border: 0;
  background-color: var(--red-900);
  color: var(--white);
  border-radius: 0.5rem;
  transition: filter 0.3;

  &:hover{
    filter:brightness(1.5);
  }

  &[disabled]{
    cursor: not-allowed;
    svg{
      animation: animate 2s infinite;
    }
  }
}

.buttonText{
  color: var(--white);
}

@keyframes animate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}